@charset 'utf-8';

.sec02{
    border-bottom: 1px solid #ccc;
    padding-bottom: 100px;
}
.sec02 .container{
    max-width: 1280px;
    margin: 0 auto; padding: 0 16px;
}
.sec02 ul{
    border-top: 2px solid #384d75;
    margin-bottom: 50px;
}
.sec02 li{
    border-bottom: 1px solid #ccc;
    padding: 1.5em 1em;
}
.sec02 li:first-child{
    font-weight: 700; font-size: 1.2em;
}
.sec02 li:nth-child(2){
    padding: 1em;
}
.sec02 li:nth-child(2) span{
    display: inline-block;
    width: 49%;
    /* 50%하면 inline-block은 아래로 내려감 */
}

.sec02 button{
    display: block;
    width: 100%;
    /* width를 px로 설정하면, margin왼쪽을 auto로 놓아서 오른쪽에 가서 붙게됨. */
    margin: 0 0 0 auto;
    padding: 0.8em;
    border: 1px solid #384d75;
    background: #384d75;
    font-size: 1.2em; color: #fff;
    cursor: pointer;
}
.sec02 button:hover{
    background: #fff;
    color:#384d75
}

@media(min-width:768px){
    .sec02 button{
        width: 120px;
    }
}